<div class="row">
    <div class="col-sm-10">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="connexion">CONNEXION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="adoption">ADOPTER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="garde">GARDE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="fiche">FICHES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="forum">FORUM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="alerte">ALERTES</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-2">
      à voir comment faire les alertes défilantes ...
    </div>
  </div>