<div class="row">
    <div class="col-sm-10">
        <ul class="nav nav-tabs">
            <li class="nav-item col-sm-2" style="text-align: center;">
                <a class="nav-link" routerLink="connexion">CONNEXION</a>
            </li>
            <li class="nav-item col-sm-2" style="text-align: center;">
                <a class="nav-link" routerLink="adoption">ADOPTER</a>
            </li>
            <li class="nav-item col-sm-2" style="text-align: center;">
                <a class="nav-link" routerLink="garde">GARDE</a>
            </li>
            <li class="nav-item col-sm-2" style="text-align: center;">
                <a class="nav-link" routerLink="fiche">FICHES</a>
            </li>
            <li class="nav-item col-sm-2" style="text-align: center;">
                <a class="nav-link" routerLink="forum">FORUM</a>
            </li>
            <li class="nav-item col-sm-2" style="text-align: center;">
                <a class="nav-link" routerLink="reseau">RESEAU</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-2">
        <h3 style="color: red; text-align: center;">Alertes en cours</h3>
        <div *ngFor="let a of alertes">
            {{a.animal.type.type}} <br>
            {{a.message}} <br>
            {{a.dateDisparition}} <br><br>
        </div>
        
    </div>
</div>