<h2 class="text-center titre">Adopter un animal</h2>
<br>

<nav class="navbar navbar-expand-lg navbar-light bg-light  ">

  <button class="btn btn-primary buttonStyle" (click)=callMyPopop()> Mettre à l'adoption </button>
  <br>

</nav>

<div>



</div>
<br>
<br>
<div class="StyleBar">
  <ng-multiselect-dropdown [placeholder]="'Type'" [data]="dropdownType" [(ngModel)]="selectedType"
    [settings]="dropdownSettings" (onSelect)="onTypeSelect($event)" (onSelectAll)="onSelectAllType()"
    (onDeSelect)="onTypeDeselect($event)" (onDeSelectAll)="onDeSelectAllType()">
  </ng-multiselect-dropdown>

</div>
<br>
<br>



<div class="container">
  <div class="row">

    <div class="dv" *ngFor="let ad of adoptions ">

      <div *ngIf="test(ad)">
        <div class="mydiv ">
          <mat-card class="example-card text-center card ">
            <mat-card-header back-ground='white'>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{ad.animal.type.type}} {{ad.animal.nom}} </mat-card-title>
              <mat-card-subtitle>Propriétaire : {{ad.animal.user.nom}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                {{ad.contenu}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button type="submit" text-center class="buttonStyle2">CONTACTER {{ad.animal.user.nom}}
              </button>
            </mat-card-actions>

          </mat-card>


        </div>

      </div>

    </div>
  </div>

</div>








<br><br><br><br><br>
