.mat-card{

    background: white;
    height: 525px;
}



.mat-card-title{
    color: rgb(100, 132, 139);
    text-align: center;
}

.mat-card-subtitle{

    color: rgb(100, 132, 139);
    text-align: center;
}

.mat-card-content{
   
    color: black
}

.buttonStyle{

    background:   rgb(100, 132, 139);
    color:white;
    display: block;
    margin : auto;
    
}
.test1 {
    margin-right: 4px;
    background: #fb4f4f !important;

  }
  .StyleBar{
        margin-right: 20%;
        margin-left: 20%;
       

  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .margin{
      margin-left: 6%;
  }

  .p1{
     text-align: center;

  }
  .buttonStyle2{
  
    border-style: solid;
    border-color: rgb(100, 132, 139);
    color: white;
    background-color: rgba(100, 132, 139, 0.767);

  }

  .img {
    width: 100%;
    margin-bottom: 18%;
  }
  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }
  .container {
    min-height: 100%;
    width: 100%;
  }
  .search-form {
    width: 90%;
  }

  .dv{
    margin-left: 10px;
    margin-right: 10px;
  }