<br>
<h2 class="text-center titre">GARDES</h2>
<br>

<div class="center-div center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light  ">

     <div class="collapse navbar-collapse " id="navbarText">
         <ul class="navbar-nav mr-auto ">
             <li class="nav-item active ">
                 <a class="nav-link " routerLink="garder">Garder <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" routerLink="fairegarder">Faire Garder</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" routerLink="mesgardes">Mes Gardes</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" routerLink="#">Mes Messages</a>
             </li>
         </ul>
     </div>
</nav>
</div>


<router-outlet></router-outlet>