<h2 class="text-center titre">GARDES</h2>
<br>

<div class="center-div center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light  ">

        <div class="collapse navbar-collapse " id="navbarText">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item active ">
                    <a class="nav-link " routerLink="garder">Garder <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="fairegarder">Faire Garder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="mesgardes">Mes Gardes</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<br>
<p class="titre2 dv">Faites garder vos animaux en toute tranquillité</p><br>
<div class="card card2">
    <div class="plan">
        <img class="img-responsive"
            src="https://d2egyzpyfikdi4.cloudfront.net/assets/why_mr_animo_pets-c33887bcbe01178ebab75d96cf4ad881.jpg"
            style="margin: auto; center" />
        <div class=" box">
            <br>
            <hr>
        </div>
        <div class=" box ">
            <ul>
                <li class="lit">Pas de cages, pas de chenils
                </li>
                <li class="lit">La compagnie d'un petsitter
                </li>
                <li class="lit">Garde conviviale en toute sérénité
                </li>
            </ul>
        </div>
<br>
    </div>
</div>


<router-outlet></router-outlet>