<nav class="navbar  navbar-expand-lg  navbar-light navbarstyle"
    style="background-image: url('assets/image/bandeau.jpg'); margin: 0px auto; height: 100px;font-size: large;">

    <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>






        <div class="collapse navbar-collapse card" id="navbarNavAltMarkup">
            <ul class="navbar-nav">

                <li class="nav-item active">
                    <a class="nav-link" (click)="callMyCon()">Connexion <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="voirAdoption">Adopter</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="garde">Garde</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="fiche">Fiches</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="forum">Forum</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="veto">Réseau</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" (click)="callMyPopop()"
                        style="color: rgb(201, 119, 119);"><strong>ALERTES!</strong></a>
                </li>


            </ul>
        </div>
    </div>
</nav>


<hr>
<hr>