<mat-accordion>
       <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="titre1">
            Chat
        </mat-panel-title>
        <mat-panel-description>
            Comment mettre un chat dans une cage ?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p> Comment habituer à un chat une cage ?
        Pour pouvoir mettre facilement un chat au sein d’une cage, l’idéal est de l’habituer dès le plus jeune âge. Il est possible d’habituer un chat adulte à dormir au sein d’une caisse mais cela sera probablement plus long que pour un chaton.
        
        Vous pouvez installer la cage de transport ouverte dans le salon par exemple (dans un premier temps il est conseillé d’enlever le couvercle de la cage). Placez au sein de la cage des couvertures et essayez d’attirer votre chat avec des jouets, des friandises, etc… Si votre chat s’installe dedans, félicitez-le et récompensez-le bien. L’objectif est qu’il associe la cage de transport à quelque chose de positif.
        
        Il est possible d’ajouter une étape supplémentaire en installant les couvertures dans le salon et en les plaçant ensuite dans la caisse de transport ouverte puis fermée.
        
        Pendant toute cette période d’habituation, vous pouvez donner à votre chat un complément alimentaire antistress. Vous pouvez pulvériser au sein de la caisse de transport un spray apaisant pour les chats (à base de phéromones ou d’huiles essentielles apaisantes) afin que votre chat se sente bien et qu’il s’y rende plus facilement.
        
        Cette habituation à la cage de transport peut prendre quelques semaines à quelques mois et pendant ce temps, il faut éviter de forcer votre chat à rentrer de force dans sa cage.
        
        Si votre chat prend l’habitude de se coucher dans sa cage, il sera facile de le placer dedans lorsque vous devrez partir en voyage ou lors d’une visite chez le vétérinaire. Vous pourrez simplement l’appeler en lui proposant un peu de nourriture au sein de celle-ci, il rentrera sans doute tout seul à l’intérieur.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="titre1">
  Chien
</mat-panel-title>
<mat-panel-description>
    Combien coûte annuellement un chien ?
</mat-panel-description>
</mat-expansion-panel-header>
<p> 
    Les frais vétérinaires

    La plupart des animaux vendus ou cédés (par les SPA ou associations) sont normalement déjà identifiés par puçage électronique, il faudra l’envisager pour les animaux trouvés ou donnés par la famille ou les amis ; il en coutera environ 65/70 €.
    
    Même si les premiers vaccins et vermifugations ont déjà été faits, une visite vétérinaire d’achat s’impose néanmoins, pour vérifier si les vaccins sont à jour, si l’animal est correctement vermifugé et déparasité, et s’il ne présente pas de pathologie sous-jacente (troubles digestifs, atteinte respiratoire, vérification des oreilles, des yeux, etc...). Sans compter les conseils que pourra vous prodiguer le vétérinaire quant à l’alimentation, l’hygiène, l’éducation, etc... Une consultation vétérinaire reviendra en moyenne à 30/40 €, mais il faudra peut-être rajouter un rappel de vaccin  (environ 60 €) si toutes les injections de primovaccination n’ont pas encore été faites, ainsi que les antiparasitaires (internes / externes) si besoin.
    
    Dernier point à aborder concernant les soins vétérinaires la première année : l’éventuelle castration de l’animal. Pour un chat mâle, prévoir 80 à 100 €, pour une chatte 130 à 140 €. Si vous voulez faire stériliser votre chien, il vous en coûtera 140 à 170 € (selon le poids), pour votre chienne 220 à 300 € (selon le poids).
    
     
    
    Le matériel
    
    Pour un chien, il faut envisager l’achat d’un lieu de couchage (panier, coussin), de gamelles, d’un ou plusieurs harnais et d’une laisse, de jouets divers et variés... ce qui peut vite faire monter la facture...
    
    Pour un chat, une cage de transport sera indispensable pour les voyages ou les déplacements chez le vétérinaire (en moyenne 30 €), mais aussi parfois un harnais et une laisse. Pour l’occuper, des jouets, un arbre à chat, un griffoir pourront s’avérer nécessaires, sauf si votre animal peut sortir et grimper sur de vrais arbres... Selon les marques, les prix sont variables et peuvent vite augmenter les frais... Parfois, l’installation d’une chatière vous évitera de fastidieux allers/retours pour ouvrir à Minou à toute heure du jour et de la nuit (de 15 jusqu’à 150 € pour une chatière connectée qui ne laisse passer que votre chat muni de son badge électronique)
    
    Il ne faudra pas oublier les gamelles et, pour un chat qui ne sort pas, un (ou deux) bac à litière (de 5 à 50 € pour une maison de toilette) et la litière à changer très régulièrement (en moyenne 150 € par an !)
    
    Selon le pelage de l’animal, peigne(s) et brosse(s) seront peut-être nécessaires pour l’entretien régulier (de 3 à 30 € en moyenne).
    

</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="titre1">
    Lapin
</mat-panel-title>
<mat-panel-description>
    Où adopter ?
</mat-panel-description>
</mat-expansion-panel-header>
<p> 
    Les animaleries : Si vous êtes débutant, vous avez sûrement l'idée de l'animalerie en tête. C'est une des pires options que l'on peut choisir, vous en saurez plus dans l'article "Animalerie".
 
    Refuges et SPA : qui sont le meilleur lieu d'adoption. Sauver un lapin abandonné est un choix responsable. Et même si vous ne connaissez pas ce qu'il a vécu dans sa vie passée, il ne sera pas plus agressif ou craintif qu'un autre lapin : n'importe quel lapin a besoin de beaucoup d'attention et de soins pour s'habituer à son nouveau foyer. En plus d'aider le refuge à poursuivre son activité, il vous sera beaucoup plus facile d'éduquer un lapin adulte : la période d'adolescence passée, le lapin sera plus calme, propre plus facilement et souvent déjà stérilisé. Ces lapins deviennent souvent même plus attachés à leur ami humain. Tout le monde est gagnant !
    N'hésitez pas à appeler tous les refuges de votre département pour savoir s'ils ont des lapins. Certains les gardent aussi dans des familles d'accueil et organisent parfois des covoiturages, n'hésitez pas à vous renseigner. Après s'être assuré que votre démarche est sérieuse, l'association demandera certainement des frais d'adoptions peu importants (nécessaires pour stériliser et soigner les lapins), de signer un contrat d'adoption qui représente votre engagement à assumer totalement votre nouveau compagnon, elle pourra aussi faire des visites de contrôle par la suite et demander des nouvelles.
    
</p>
</mat-expansion-panel>
</mat-accordion>