<div class="container" style="background-color: rgb(100, 132, 139);" >
<br>
    <h2 class="text-center ">Formulaire de mise à l'adoption</h2>
    <p class="text-center ">Remplissez les informations suivantes</p>
    <br>
    <form class="example-form ">

        <mat-form-field class="example-full-width " >
            <textarea  matInput name="login" [(ngModel)]="u.login" placeholder="Votre nom"></textarea>
        </mat-form-field >
        <mat-form-field class="example-full-width ">
            <input matInput placeholder="Votre e-mail" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width ">
            <input matInput placeholder="Nom de l'animal" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width ">
            <input matInput placeholder="Description" value="">
          </mat-form-field>
        <br>
    </form>
    <div class="text-center">
        <button class="btn btn-primary MyPopup" style="background-color: white; border-color: white;" (click)="addAdoption()"> Mettre à l'adoption </button>
      </div>
<br>
     

</div>