<br>
<h2 class="text-center titre">GARDES</h2>
<br>

<div class="center-div center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light  ">

     <div class="collapse navbar-collapse " id="navbarNav">
         <ul class="navbar-nav">
             <li class="nav-item ">
                 <a class="nav-link " routerLink="garder">Garder </a>
             </li>
             <li class="nav-item ">
                <a class="nav-link " routerLink="fairegarder">Faire garder </a>
            </li>
            
             <li class="nav-item">
                 <a class="nav-link" routerLink="#">Mes Gardes</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" routerLink="#">Mes Messages</a>
             </li>
         </ul>
     </div>

</nav>
</div>



