<br><br>
<h3 class='bandeau'style="text-align: center;">
    Mon profil</h3>
<br><br>
<div class="d-flex justify-content-center card ">
    
    <div class="">
        <br>
        <p class="p1">Mes informations</p>
        <p class="p2">Cliquez sur le stylo pour modifier vos informations</p>
        <hr>
        <form>
            <div class="input-group form-group center">
              <div style="margin-left: 50px;">
                   <p class="text">Nom :</p>  <p *ngIf="myPName">{{u.nom}}
                        <mat-icon (click)="hideAndShowNom()" style="margin-left: 210px;">create
                        </mat-icon>
                    </p>
                    <p>{{Cname}}</p>
                    <hr>
                </div>
                <div class="col-sm-12" *ngIf="myName">
                    <input  class="form-control" #nom type="text" value="{{ u.nom }}">
                    <button (click)="changeNom(recup.value)">Valider</button>
                </div>
            </div>
            <div class="input-group form-group">
                <div style="margin-left: 50px;">
                    <p class="text"> Prenom :</p><p *ngIf="myPPrenom">{{u.prenom}}
                        <mat-icon (click)="hideAndShowPrenom()" style="margin-left: 200px;">create
                        </mat-icon>
                    </p>
                    <p>{{Cprenom}}</p>
                    <hr>
                </div>
                
                <div class="col-sm-12" *ngIf="myPrenom">
                    <input class="form-control" #prenom type="text" value="{{ u.prenom }}">
                    <button  (click)="changePrenom(prenom.value)">Valider</button>
                </div>
            </div>
            <div class="input-group form-group">
                <div style="margin-left: 50px;">
                    <p class="text"> Mail : </p> <p *ngIf="myPMail">{{u.mail}}
                        <mat-icon (click)="hideAndShowMail()" style="margin-left: 150px;">create
                        </mat-icon>
                    </p>
                    <p>{{Cmail}}</p>
                    <hr>
                </div>
                <div class="col-sm-12" *ngIf="myMail">
                    <input class="form-control" #mail type="text" value="{{ u.mail }}">
                    <button (click)="changeMail(mail.value)">Valider</button>
                </div>
            </div>
            <div class="input-group form-group">
                <div style="margin-left: 50px;">
                    <p class="text"> Identifiant : </p> <p *ngIf="myPLogin">{{u.login}}
                        <mat-icon (click)="hideAndShowLogin()" style="margin-left: 200px; ">create
                        </mat-icon>
                    </p>
                    <p>{{Clogin}}</p>
                    <hr>
                </div>
                <div class="col-sm-12" *ngIf="myLogin">
                    <input class="form-control " #login type="text" value="{{ u.login }}">
                    <button (click)="changeLogin(login.value)">Valider</button>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" (click)="modificationUser(nom.value)" class="btn login_btn centre " style="margin: auto;">Valider les
                    modifications</button>
            </div>
        </form>
    </div>
</div>