<div class="container ">
    <br>
   <form (ngSubmit)="addGarde()">
    <h2 class="text-center ">Choisissez vos dates</h2>

    <div class="form-group">
        <input type="date" id="date" name="dateDebut"  [(ngModel)] = "ga.dateDebut"  placeholder="Date déébur" class="form-control text-center">
    </div>

    <div class="form-group">
        <input type="date" id="date" name="dateFin" [(ngModel)] = "ga.dateFin"   placeholder="" class="form-control text-center">
    </div>

    <div class="form-group">
        <input type="text"  name="contenu" [(ngModel)] = "ga.contenu"   placeholder="" class="form-control text-center">
    </div>

    <button class="btn btn-primary buttonStyle center" > Valider </button>
   </form>
</div>