<div class="card">
    <div class="card-header titre ">
      Mes gardes
    </div>
     <div class="card-body ">
      
          <h6>Mes gardes en cours</h6>
      <table class = "table">
          <thead class="thead-light">
              <tr>
                  <th class="text-center">Nom du propriétaire</th>
                  <th class="text-center">Prenom</th>
                  <th class="text-center">Animal</th>
                  <th class="text-center">Date de Début</th>
                  <th class="text-center">Date de Fin</th>
                  <th class="text-center">Contact</th>
              </tr>
          </thead>
          <tbody>
           
                      <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  
                       
                      </tr>
                    
          </tbody>
      </table>
           <h6>Mes anciennes gardes</h6>
      <table class = "table">
          <thead class="thead-light">
              <tr>
                <th class="text-center">Nom du propriétaire</th>
                <th class="text-center">Prenom</th>
                <th class="text-center">Animal</th>
                <th class="text-center">Date de Début</th>
                <th class="text-center">Date de Fin</th>
                <th class="text-center">Contact</th>
              </tr>
          </thead>
          <tbody>
              
            <tr>
                <td>{{u.nom}}</td>
                <td>{{g.contenu}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
              
          </tbody>
      </table>
      
           
           
    </div>          
</div>
